version: '3.8'

services:
  frontend:
    container_name: frontend-container
    build:
      context: ./frontend
      dockerfile: Dockerfile
    expose:
      - "5173"
    volumes:
      - ./frontend:/app          # mount local code into container
      - /app/node_modules        # keep node_modules inside container
    command: npm run dev
    depends_on:
        - players-service
        - matches-service
        - users-service
        - auth-service
    networks:
      - transcendence-network

  players-service:
    container_name: players-microservice
    build:
      context: ./microservices/players
      dockerfile: Dockerfile
    expose:
      - "3101"
    volumes:
      - ./database:/app/database   # DB files persist here
      - ./microservices/players/src:/app/src  # Only source code mounted
    restart: unless-stopped
    networks:
      - transcendence-network

  matches-service:
    container_name: matches-microservice
    build:
      context: ./microservices/matches
      dockerfile: Dockerfile
    expose:
      - "3102"
    volumes:
      - ./database:/app/database
      - ./microservices/matches/src:/app/src
    depends_on:
      - players-service
    restart: unless-stopped
    networks:
      - transcendence-network

  users-service:
    container_name: users-microservice
    build:
      context: ./microservices/users
      dockerfile: Dockerfile
    expose:
      - "3103"
    volumes:
      - ./database:/app/database
      - ./microservices/users/src:/app/src
    restart: unless-stopped
    networks:
      - transcendence-network
    env_file:
      - ./.env
  
  auth-service:
    container_name: auth-microservice
    build:
      context: ./microservices/auth
      dockerfile: Dockerfile
    expose:
      - "3105"
    volumes:
      - ./database:/app/database
      - ./microservices/auth/src:/app/src
    restart: unless-stopped
    networks:
      - transcendence-network
    environment:
      - MAILEROO=${MAILEROO}
      - MAILEROO_FROM=${MAILEROO_FROM}
      - JWT_SECRET=${JWT_SECRET}
      - JWT_EXPIRES_IN=${JWT_EXPIRES_IN}
      - JWT_ISSUER=${JWT_ISSUER}
      - JWT_AUDIENCE=${JWT_AUDIENCE}
      - JWT_COOKIE_NAME=${JWT_COOKIE_NAME}
      - JWT_COOKIE_DOMAIN=${JWT_COOKIE_DOMAIN}
      - JWT_COOKIE_PATH=${JWT_COOKIE_PATH}
      - JWT_COOKIE_SAMESITE=${JWT_COOKIE_SAMESITE}
      - JWT_COOKIE_SECURE=${JWT_COOKIE_SECURE}
      - PRIMARY_AUTH_SERVICE_URL=${PRIMARY_AUTH_SERVICE_URL}
      - PRIMARY_AUTH_VERIFY_PATH=${PRIMARY_AUTH_VERIFY_PATH}
      - ALLOW_USER_VALIDATION_BYPASS=${ALLOW_USER_VALIDATION_BYPASS}
    dns:
      - 1.1.1.1
    env_file:
      - ./.env

  nginx:
    image: nginx:alpine
    container_name: nginx-proxy
    depends_on:
      - frontend
      - players-service
      - matches-service
      - users-service
      - auth-service
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./docker/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./docker/certs:/etc/nginx/certs:ro
    networks:
      - transcendence-network

networks:
  transcendence-network:
    driver: bridge
